@import "./components/card.css";
@import "./components/navbar.css";
@import "./components/reset.css";
@import "./components/slide.css";
@import "./components/responsive.css";
@import "./components/form.css";
@import "./components/sobrenos.css";
@import "./components/privacidade.css";
@import "./components/cursosti.css";

*{
    font-family: "Poppins", sans-serif;
}

.espaco{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 227, 227);
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 40px;
}
.espaco h1{
    color: rgb(57, 231, 173);
}
